{% extends "layout.html" %}

{% block title %}
    EVENTS
{% endblock %}

{% block main %}

<div class="X">

    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <div class="header">
                    <h2>Events</h2>
                </div>
            </div>
            <div style="float:right">
        		<a href="#addEventModal" class="btn btn-info" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add Event</span></a>
        	</div>
        </div>
    </div>

    <ul class="SG" style="list-style-type: none">
        {% for event in events %}
        <li class="sgLi">
            <div class="box">
                <div>
                    <a href="/umbrella?event={{event.PK}}">
                        <div class="topheaders">
                            <h4>{{event.title}}</h4>
                        </div>
                    </a>
                </div>
                <div>
                    <p>{{event.description}}</p>
                </div>
                <div class="boxed">
                    <b>Budget</b>   {{event.budget | usd}}

                </div>
                <div style="float:left">
                    <a href="#editEventModal{{event.PK}}"  class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
    				<a href="#deleteEventModal{{event.PK}}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
    			</div>
            </div>

            <!-- Delete Modal HTML -->
			<div id="deleteEventModal{{event.PK}}" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<form action="/" method="post">
							<div class="modal-header">
								<h4 class="modal-title">Delete Event</h4>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
							<div class="modal-body">
								<p>Are you sure you want to delete this Event?</p>
								<p class="text-warning"><small>This action cannot be undone.</small></p>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
								<input type="submit" class="btn btn-danger" value="Delete">
							</div>
							<input autocomplete="off" autofocus class="form-control" name="event" value="delete" type="hidden">
							<input autocomplete="off" autofocus class="form-control" name="PK" value="{{event.PK}}" type="hidden">
						</form>
					</div>
				</div>
			</div>

			<!-- Edit Event Modal -->
			<div id="editEventModal{{event.PK}}" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<form action="/" method="post">
							<div class="modal-header">
								<h4 class="modal-title">Edit Event</h4>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
							<div class="modal-body">
							    <div class="form-group">
									<label>Title</label>
									<input name="title" placeholder="Title" type="text" class="form-control" value="{{event.title}}" required>
								</div>
								<div class="form-group">
									<label>Description</label>
									<textarea name="description" placeholder="Description" type="text" class="form-control">{{event.description}}</textarea>
								</div>
								<div class="form-group">
									<label>Budget</label>
									<input name="budget" placeholder="Budget" type="number" class="form-control" value="{{event.budget}}">
								</div>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
								<input type="submit" class="btn btn-success" value="Save">
							</div>
							<input autocomplete="off" autofocus class="form-control" name="event" value="edit" type="hidden">
							<input autocomplete="off" autofocus class="form-control" name="PK" value="{{event.PK}}" type="hidden">
						</form>
					</div>
				</div>
			</div>
        </li>
        {%endfor%}
    </ul>
</div>



<!-- Add Event Modal -->
<div id="addEventModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="/" method="post">
				<div class="modal-header">
					<h4 class="modal-title">Add Event</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Title</label>
						<input name="title" placeholder="Title" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea name="description" placeholder="Description" type="text" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<label>Budget</label>
						<input name="budget" placeholder="Budget" type="number" class="form-control" value="0">
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success" value="Add">
				</div>
				<input autocomplete="off" autofocus class="form-control" name="event" value="add" type="hidden">
			</form>
		</div>
	</div>
</div>
{% endblock %}